/* * {
  outline: 1px solid orange;
} */

/*Colouring of the text and the icons in footer*/
footer {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.footer-icons {
  color: #ffffff;
  font-size: 2.5vh;
}


/*Navbar formatting*/


.navbar {

  background-color: #283a2c;

}

.collapse {

  justify-content: center;

}

.navbar-brand {

  color: #F1EFEC;

}

.nav-link {
  color: #ffffff;

}

.nav-link:hover {
  color: #daddc5;

}

.nav-link.mx-2.active {
  color: #ffffff;
  border-bottom: solid 2px #ffffff;
  
}

.navbar-toggler {

  background-color: #daddc5;

}


/* .h1 {
    font-weight: 400;
    font-size: 100px;
}


/* css for carousel */

.carousel-item {
  height: 490px;
  background: #101010;
  color: white;
  position: relative;
  background-position: center;
  background-size: cover;
}

/*TODO: fix this as this overwrites the container for all! Potentially use the in-built centering etc.*/
.carousel-overlay {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px;
  padding-bottom: 150px;
}

.carousel-overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

.h1-carousel {
  font-weight: 200px;
  font-size: 60px;
  line-height: 85px;
}

h6 {
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px
}

.exploreNow {

  font-weight:100;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  color:#F1EFEC;
  background-color: #283a2c;
  border: 0.5px solid #ffffff;

}

/* css for carousel */

.readMore {
  font-weight:100;
  align-items: center;
  background-color: #283a2c;
  border: 2px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

