/* css for blog pages */

.blog-item {
    height: 250px;
    background: #101010;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
}

.blog-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.blog-head {
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.h1-blog {
    font-weight: 300;
    font-size: 48px;
}

.h5-blog {
    font-size: 16pt;
    font-weight: 300;
}

.blog-time {
    font-size: 20px;
    padding: 40px 0 40px 70px;
}

.blog-main-text {
    font-size: 16px;
    padding: 0 12% 2% 12%;
    text-align: center;
}

.blog-flex {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 12% 2% 12%;
    padding-bottom: 5%;
}

.blog-secondary-text {
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    min-width: 250px;
}

.blog-secondary-img {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

@media (max-width: 800px) {

    .blog-secondary-text,
    .secondary-img {
        flex: 100%;
    }
}

.reaction-section {
    text-align: center
}

h6 {
    font-size: 12pt;
    font-weight: 400;
}

.post-ratings-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 5%;
}

.post-rating {
    display: flex;
    align-items: center;
    cursor: default;
}

.post-rating-button {
    margin-right: 5px;
    color: #353434;
    cursor: pointer;
}

#favoriteBtn:hover,
#favoriteBtn.selected {
    color: palevioletred;
}

#likeBtn:hover,
#likeBtn.selected {
    color: seagreen;
}

#dislikeBtn:hover,
#dislikeBtn.selected {
    color: firebrick;
}